<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <%= render 'shared/left_main_menu' %>
    <div class="content-body">
      <%= render 'ecommerce_statistics' %>
      <%= render 'product_sell_info' %>
      <%= render 'recent_transactions' %>
      <%= render 'recent_orders_sales' %>
      <%= render 'horizontal_timeline' %>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->